* {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
}

body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container .img-fondo {
  position: relative;
  display: block;
  margin: 48px auto;
}

.container-info {
  position: absolute;
  top: -5px;
  right: -30px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.izquierda {
  text-align: center;
  left: -35px;
  width: fit-content;
}

.derecha-afuera {
  left: 100%;
  margin-left: 20px;
  height: 453px;
  top: 50%;
  transform: translate(0, -50%);
  width: fit-content;
}

.izquierda-afuera {
  left: -190px;
  height: 453px;
  top: 50%;
  transform: translate(0, -50%);
  width: fit-content;
}

.info {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.info .img-info {
  width: 83px;
  height: 83px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: #c4c4c4;
}

.info p {
  font-size: 18px;
  margin: 0;
}

.info:first-child {
  margin-top: -60px;
}

.izquierda-afuera .info:first-child {
  margin-top: -75px;
}

.izquierda .info p {
  text-align: right;
  width: 100%;
}

.izquierda-afuera .info p {
  width: 100%;
  text-align: right;
}

.derecha-afuera .info p {
  width: 100%;
  text-align: left;
}

.derecha-afuera .info:first-child {
  margin-top: -75px;
}

/* Texto curatorial */

.container_titulo_texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}

.container_texto img {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto_curatorial {
    position: absolute;
    align-items: center;
    left: 15%;
    right: 15%;

    font-size: 14px;
    line-height: 18px;
    text-align: center;
}

.texto_curatorial_logo {
    position: absolute;
    align-items: center;
    top: 185px;
    font-size: 25px;
    
}

.link-texto-curatorial {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -10px);
  font-size: 18px;
  color: black;
  text-decoration: none;
}

.textos-info {
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(0, -50%);
  width: fit-content;
}

.textos-info h1 {
  margin: 0;
}

.textos-info h3 {
  margin: 0;
  text-align: center;
}


.titulo-info {
  position: relative;
  width: fit-content;
  margin-top: 36px;
}

.container-detalle {
  position: relative;
  display: flex;
  flex-direction: column;
}

.boton-volver-detalle {
  position: relative;
  top: 0;
  right: 0;
  width: 158px;
  height: 56px;
  margin-right: 76px;
  align-self: flex-end;
  margin-top: 50px;
  font-size: 24px;
  border-radius: 28px;
  background: #C4C4C4;
  border: none;
}

.info-obra {
  display: flex;
  justify-content: center;
  margin-top: 34px;
}

.info-obra .imagen {
  background-image: url(assets/xiomara/img1.png);
  width: 617px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 382px;
}

.info-obra p {
  width: 604px;
  margin: 0 0 0 40px;
  overflow: scroll;
  height: 382px;
}

.imagen-fondo {
  position: absolute;
  top: -20px;
  left: -5px;
}
